__pycache__/

*.pyc
*$py.class
notes/

*.DS_Store

# pyenv
.python-version

# Environment
*_env/
*_env*/
.env
.venv
env/
venv/
ENV/

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history